Package: io.smacpats.emojiportinstaller
Name: EmojiPort Installer iOS 13.1
Version: 1.2
Architecture: iphoneos-arm
Depends: mobilesubstrate, firmware (>> 9.3.5)
Author: Smacpats & Patrick Pro
Section: EmojiPort
Description: Install emojiport and iOS 13.1 emojis automatically
Maintainer: Patrick Pro
Depiction: https://patrickpro.github.io/depictions/?p=io.smacpats.emojiportinstaller
